langchain
langgraph
langchain_community
langchain_core
langchain_groq
langchain_openai
faiss-cpu
streamlit
tavily-python
pypdf
langchain-tavily
fastapi
uvicorn
streamlit-authenticator
bcrypt
langchain-text-splitters
python-dotenv